<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Academy.E2E.AppTest"/>
      <class name="Academy.E2E.HomePage"/>
      <class name="Academy.E2E.ValidateContact"/>
      <class name="Academy.E2E.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
